extends base

block content
 .user-view__content
  .user-view__form-container
    h2.heading-secondary.ma-bt-md Edit User
    form.form-user-data-admin
     .form__group 
      label.form__label(for='name') User Name 
      input#user-name.form__input(type='text', value=`${user.name}`, name='name')
     .form__group 
      label.form__label(for='email') Email 
      input#user-email.form__input(type='text', value=`${user.email}`, name='email')
     .form__group 
      label.form__label(for='active') Active 
      input#user-active.form__input(type='text', value=`${user.active}`, name='active')
     .form__group 
      label.form__label(for='role') Role 
      input#user-role.form__input(type='text', value=`${user.role}`, name='role')
      .user_id.display_hidden #{user.id}
     .form__group.right
       button.btn.btn--small.btn--blue Update User