extends base

block content 
 main.main 
  .card-container
   each user in users 
    .card 
     .card__header 
      .card__picture 
       .card__picture-overlay &nbsp;
       img.card__picture-img(src=`/img/users/${user.photo}`, alt=`${user.name}`)
      h4.heading-secondary 
       span= user.name
     .card__details
      .card__data
       svg.card__icon 
        use(xlink:href='/img/icons.svg#icon-mail') 
       span=  `Email: ${user.email}`
      .card__data
       svg.card__icon 
        use(xlink:href='/img/icons.svg#icon-server') 
       span=  `Role: ${user.role}`
      .card__data
       svg.card__icon 
        use(xlink:href='/img/icons.svg#icon-database') 
       span= `ID: ${user.id}`
      .card__data
       svg.card__icon 
        use(xlink:href='/img/icons.svg#icon-activity') 
       span= `Active: ${user.active}`
     .card__footer
      a.btn.btn--blue.btn--small(href=`/user-manage/${user.id}`) Edit User